<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <link rel="stylesheet" href="./css/index.css">
</head>
<body>
  <div class="formContainer">
    <form action="/login" method="POST">
      <div class="formTitle">
      <h1>Login</h1>
    </div >
      <div class="formInput">
        <input type="email" placeholder="Email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" required></input>
        
        <input type="password" placeholder="Password" class="form-control" id="exampleInputPassword1" name="password"></input>
        <button type="submit" class="btn btn-dark">Login</button>
        <a href="/signup">Don't Have Account? Sign Up</a>
      </div>
      
    </form>
  </div>
</body>
</html>